.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.cardContainer {
    width: 500px;
    color:rgb(29, 28, 28);
    border: none;
    height: 400px;
    background-color: #3f97bc;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 100px 50px 50px 50px 25px 25px;
    gap: 10px;
    justify-content: center;
    align-content: center;
    /* border: 2px solid red; */


}

.cardContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.block {
    grid-column: 1/3;
}